@import url(../css/reset.css);
body {
  font-family: "Ubuntu", sans-serif;
  background: url(../images/Background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin: 0 auto;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}

/* Header styles */

.header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header__body {
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.header__logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  color: #ffffff;
  padding: 18px 79px;
}
.header__logo:hover {
  color: #3cb878;
  opacity: 0.4;
}
.header__welcome {
  font-size: 14px;
  line-height: 1;
  color: #ffffff;
  padding: 18px 79px 0 27px;
}
.welcome__login:hover {
  color: #3cb878;
  opacity: 0.4;
}
.welcome__signup:hover {
  color: #3cb878;
  opacity: 0.4;
}
.header__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 17px;
}
.header__icons_calendar {
  padding-top: 17px;
  padding-right: 27px;
}

.header__icons_calendar .header__icons_calendargreen:hover {
  fill: #3cb878;
  opacity: 0.4;
}
.header__icons_mail .header__icons_mailgreen:hover {
  fill: #3cb878;
  opacity: 0.4;
}
.header__icons_compass .header__icons_compassgreen:hover {
  fill: #3cb878;
  opacity: 0.4;
}

.header__icons_mail {
  padding-top: 18px;
  padding-right: 24px;
}
.header__icons_compass {
  padding-top: 17px;
  padding-right: 25px;
  position: relative;
}
.header__icons_compass::before {
  content: "";
  position: absolute;
  height: 19px;
  left: 48px;
  top: 20px;
  right: 27px;
  border: 0.5px solid rgba(255, 255, 255, 0.9);
}

/* Main section */

.form__content {
  height: 584px;
  width: 444px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
}
.green__box {
  width: 18px;
  height: 18px;
  background-color: #3cb878;
  position: absolute;
  top: 32px;
}
.form__content_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__sign_up {
  margin: 31px 0 15px 61px;
  font-size: 20px;
  line-height: 1;
  color: #434343;
}

.header__log_in {
  margin: 33px 59px 13px 0;
  font-size: 14px;
  line-height: 1;
  color: #3cb878;
}
.header__log_in:hover {
  color: #01813f;
  text-decoration: underline;
}

/* Button Facebook & Google */
.form__networks_btn {
  width: 322px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  line-height: 1;
  color: #ffffff;
  margin: 0 auto;
  position: relative;
}

.btn__facebook {
  background-color: #305db8;
  margin-right: 6px;
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  padding-left: 17px;
  cursor: pointer;
}
.btn__google {
  background-color: #df4a32;
  padding-left: 11px;
  display: flex;
  align-items: center;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  cursor: pointer;
}
.btn__facebook_text {
  padding: 16px 21px 16px 38px;
}
.btn__google_text {
  padding: 16px 26px 16px 38px;
}
.btn__facebook::before {
  content: "";
  border-left: 1px solid #0a162f;
  opacity: 0.1;
  height: 28px;
  position: absolute;
  left: 48px;
}
.btn__facebook:hover {
  background-color: #022263;
}

.btn__google::before {
  content: "";
  border-left: 1px solid #0a162f;
  opacity: 0.1;
  height: 28px;
  position: absolute;
  left: 213px;
}
.btn__google:hover {
  background-color: #ab1f09;
}

/* Main content */
.form__content_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  position: relative;
}
.form__content_element {
  color: #848484;
  font-size: 14px;
  line-height: 1;
  margin-top: 31px;
  margin-bottom: 12px;
}
.form__content_element::after {
  content: "";
  border-bottom: 1px solid #f2f2f2;
  width: 152px;
  position: absolute;
  top: 39px;
}
.form__content_element::before {
  content: "";
  border-bottom: 1px solid #f2f2f2;
  width: 152px;
  position: absolute;
  top: 39px;
  left: 61px;
}
.input__field_name {
  font-size: 14px;
  line-height: 1;
  width: 322px;
  height: 44px;
  padding: 15px 0 15px 19px;
  margin-bottom: 16px;
  border: none;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.21) 0px 3px 10px;
}
.placeholder__text {
  color: #bebebe;
  font-size: 14px;
  line-height: 1;
  padding: 15px 0 15px 20px;
  width: 322px;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.input__field_confirmpassword {
  color: #bebebe;
  font-size: 14px;
  line-height: 1;
  padding: 15px 0 15px 20px;
  width: 322px;
  margin-bottom: 12px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
}
.agreefield__text {
  color: #434343;
  font-size: 14px;
  line-height: 1;
}
.agreefield__terms {
  color: #3cb878;
  font-size: 14px;
  line-height: 1;
}
.real__checkbox {
  width: 0;
  height: 0;
  opacity: 0;
  position: absolute;
  z-index: -1;
}
.custom__checkbox {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border: 2px solid #7e9bbd;
  border-radius: 4px;
  vertical-align: sub;
  margin-right: 5px;
  position: relative;
  cursor: pointer;
}
.custom__checkbox::before {
  content: "";
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url(../images/Arrowcheckbox.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 0.2s ease-in;
}
.real__checkbox:checked + .custom__checkbox::before {
  transform: translate(-50%, -50%) scale(1);
}
.btn__create_account {
  width: 322px;
  color: #fff;
  font-size: 16px;
  line-height: 1;
  background-color: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  height: 46px;
  margin-top: 20px;
  cursor: pointer;
  margin-bottom: 38px;
  padding: 16px 0;
}
.btn__create_account:hover {
  background-color: #01813f;
}
